***Problem_Parameters***
Dimension_of_embedding_space
3
Number_of_points 
16
Power_law_for_generalized_Thomson_problem
-1.0

***Solver Parameters***
Maximum_number_of_iterations
100000
Termination_tolerance
1e-12
Finite_difference_step_for_gradient_estimate
1e-10

***Armijo_Step_Parameters***
Sigma
1e-6
Beta
0.5
Step
100.0


